<h1>this should be editpage</h1>


{{!-- {{#each video}} --}}
{{!-- fix update link
--}}
{{!-- fix the form action so it goes to the correct path
redirect back to the index page
confirm data is being updated correctly --}}

<form action="/update/{{id}}?_method=put" method="post" accept-charset="utf-8">
    <p>
        <label>video title:</label>
        <input type="text" value="{{title}}" name="title" id="" />
    </p>
    <p>
        <label>video link:</label>
        <input type="text" value="{{url}}" name="url" id="" />
    </p>

    {{!-- <p>
        <label>comments:</label>
        <input type="text" value="{{comments}}" name="comments" id="" />
    </p> --}}
    <input type="submit" value="Update" />

</form>
{{!-- {{/each}} --}}

{{!-- edit for delete form --}}
{{!-- <form action="/videoplaylist/delete/{{this.id}}?_method=delete" method="post">
    <input type="submit" value="Remove">
</form> --}}