<h1>this should be editpage</h1>



<form action="/update/{{id}}?_method=put" method="post" accept-charset="utf-8">
    <p>
        <label>video title:</label>
        <input type="text" value="{{title}}" name="title" id="" />
    </p>
    <p>
        <label>video link:</label>
        <input type="text" value="{{url}}" name="url" id="" />
    </p>
    <div>
        <label name="comments[content]"> type your comments</label>
        <input name="comments" type="input" {{comments}} />
    </div>

    <input type="submit" value="Update" />

</form>



{{!-- edit for delete form --}}
{{!-- <form action="/videoplaylist/delete/{{this.id}}?_method=delete" method="post">
    <input type="submit" value="Remove">
</form> --}}