<h1>Videoplaylist page</h1>

<h3><a href="/new">new videoplaylist</a></h3>



{{#each videos}}
<div>

    <h3>Title: {{title}} </h3>
    <h3>videolink: {{url}}</h3>

    <h3> comments {{comments}}</h3>
    <h3><a href="/edit/{{this.id}}">edit videoplaylist</a></h3>
    <h3><a href="/videoplaylist/delete/{{this.id}}">delete videoplaylist</a></h3>
</div>
{{/each}}